ec2_pipeline_step_function_with_notifications.json

{
  "Comment": "State machine for EC2 cost summary backfill using Athena queries, with failure notifications",
  "StartAt": "Delete yyyymm",
  "States": {
    "Delete yyyymm": {
      "Type": "Pass",
      "Result": {
        "bucket_name": "prism-curated-dev",
        "folder": "tb_monthly_ec2_cost_summary/",
        "start_ym": "0",
        "end_ym": "0"
      },
      "ResultPath": "$",
      "Next": "Run S3 Delete yyyymm folders"
    },
    "Run S3 Delete yyyymm folders": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:604727574140:function:delete-s3-files-using-bash-prism:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Delete Failure"
        }
      ],
      "Next": "Initialize backfill"
    },
    "Notify Delete Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "YOUR_SNS_TOPIC_ARN",
        "Subject": "❗ EC2 Pipeline: S3 Cleanup Failed",
        "Message": "Delete step failed.\nDetails: StatesPath=$.errorInfo"
      },
      "Next": "HandleDeleteFileFailure"
    },
    "HandleDeleteFileFailure": {
      "Type": "Fail",
      "Error": "FileDeletionFailure",
      "Cause": "S3 Cleanup failed"
    },
    "Initialize backfill": {
      "Type": "Pass",
      "Result": {
        "startYearMonth": 0,
        "endYearMonth": 0,
        "env": "dev"
      },
      "Next": "Generate Athena Queries"
    },
    "Generate Athena Queries": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:604727574140:function:prism-execute-athena-query-ec2-daily-insert"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notify Generate Query Failure"
        }
      ],
      "Next": "Parse Queries JSON",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Payload)"
      },
      "OutputPath": "$.Payload.body"
    },
    "Notify Generate Query Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "YOUR_SNS_TOPIC_ARN",
        "Subject": "❗ EC2 Pipeline: Query Gen Failed",
        "Message": "Failed to generate Athena queries.\nDetails: StatesPath=$.errorInfo"
      },
      "Next": "Fail Generate Query"
    },
    "Fail Generate Query": {
      "Type": "Fail",
      "Error": "GenerateQueryFailure",
      "Cause": "Athena query generation failed"
    },
    "Parse Queries JSON": {
      "Type": "Pass",
      "Next": "Execute Athena Queries",
      "Parameters": {
        "yearMonthArray.$": "States.StringToJson($)"
      },
      "OutputPath": "$.yearMonthArray"
    },
    "Execute Athena Queries": {
      "Type": "Map",
      "ItemsPath": "$.yearMonthArray",
      "MaxConcurrency": 15,
      "ToleratedFailureCount": 5,
      "ItemProcessor": {
        "StartAt": "Run Athena Query",
        "States": {
          "Run Athena Query": {
            "Type": "Task",
            "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
            "Parameters": {
              "QueryString.$": "$.query",
              "QueryExecutionContext": {
                "Database": "prism_curated_dev"
              },
              "ResultConfiguration": {
                "OutputLocation": "s3://athena-604727574140-prism-frontend-wg-query-results/"
              },
              "WorkGroup": "prism-frontend-wg"
            },
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.athenaError",
                "Next": "Notify Athena Failure"
              }
            ],
            "End": true
          },
          "Notify Athena Failure": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "TopicArn": "YOUR_SNS_TOPIC_ARN",
              "Subject": "❗ EC2 Pipeline: Athena Query Failed",
              "Message": "Athena query execution failed for: $.query\nError: $.athenaError"
            },
            "Next": "Handle Query Failure"
          },
          "Handle Query Failure": {
            "Type": "Fail",
            "Error": "AthenaQueryFailed",
            "Cause": "One of the Athena queries failed"
          }
        }
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
